build/CMakeFiles/
build/doc/
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeDoxyfile.in
build/CMakeDoxygenDefaults.cmake
build/Doxyfile
build/Doxyfile.docs
build/Makefile
Doxyfile.in
CMakeLists.txt
Doxyfile
.vscode/
build/compile_commands.json
build/.cmake/